html { 
  box-sizing: border-box; 
}
body { 
  margin: 0; font-family: Impact, Montserrat, "Arial Narrow Bold", sans-serif;
}

h1 { font-size: 2rem; } /* Heading Font size. */

.Back-Image { /* Background image at top. Stuff below is everything else related to it.. */
  position: relative;
  width: 100%;
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Back-Image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  object-fit: cover;
  border: none;
  margin: 0;
  display: block; /* These three make it so the border is much less visible, makes it look nicer. */
}

.Back-Image h1 {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}


.sidebar { /* Sidebar stuff */
  width: 200px;
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  background-color: white;
  overflow-x: hidden;
  transition: width 0.3s;
  padding-top: 60px;
  z-index: 10;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.3s;
}

.sidebar a.active {
  background-color: darkblue; color: white; 
}

.sidebar a:hover:not(.active) {
  background-color: #555; color: white;
}

.sidebar.collapsed {
  width: 40px;  /* Collapses sidebar to 40px */
}

.sidebar.collapsed a { 
  opacity: 0; 
  pointer-events: none; 
}

.togglebtn { /* collapse toggle section. */
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 36px;
  text-decoration: none;
  color: black;
  z-index: 15;
  cursor: pointer;
}

/* Main content */
#main {
    transition: margin-left 0.3s;
    padding: 16px;
    margin-left: 200px; /* match sidebar width */
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* scrolls smoothly */
}

/* Responsive */
@media screen and (max-width: 700px) {
    .sidebar { width: 100%; height: auto; position: relative; padding-top: 0; }
    #main { margin-left: 0; }
}
@media screen and (max-width: 400px) {
    .sidebar a { text-align: center; }
}

.treeview-ul{
  margin-left: 1.5rem;
  text-align: left;
}

.Section1class {
  padding-left: 100px;
  padding-right: 100px;
}

.Section1class h1{
  display: flex;
  justify-content: center;
}

.Section1class p{
  font-weight: 400px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: left;
}

